
#cat-page-container {
    display: grid;
    margin: 10px auto 0;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
}

a.active {
    background: #00acc1;
    color: white;
    cursor: auto;
}

#spinner {
    padding: 40px;
}

.loader {
    height: 36px;
    left: 50%;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    width: 36px;
}

.flipper {
    animation: load-flip 1.14s infinite ease-in-out;
    -moz-animation: load-flip 1.14s infinite ease-in-out;
    -o-animation: load-flip 1.14s infinite ease-in-out;
    -webkit-animation: load-flip 1.14s infinite ease-in-out;
    display: block;
    height: inherit;
    position: relative;
    width: inherit;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.load-front, .load-back {
    background-color: rgb(0, 170, 193);
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    backface-visibility: hidden;
}

.load-back {
    background-color: rgba(102, 153, 153, 0.98);
    transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    z-index: 800;
}

@keyframes load-flip {
    0% {
        transform: perspective(195px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(195px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        transform: perspective(195px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@-o-keyframes load-flip {
    0% {
        -o-transform: perspective(195px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        -o-transform: perspective(195px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        -o-transform: perspective(195px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@-ms-keyframes load-flip {
    0% {
        -ms-transform: perspective(195px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        -ms-transform: perspective(195px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        -ms-transform: perspective(195px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@-webkit-keyframes load-flip {
    0% {
        -webkit-transform: perspective(195px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        -webkit-transform: perspective(195px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        -webkit-transform: perspective(195px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@-moz-keyframes load-flip {
    0% {
        -moz-transform: perspective(195px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        -moz-transform: perspective(195px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        -moz-transform: perspective(195px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
