.form-container {
    margin-top: 24px;
}

form {
    display: grid;
    grid-template-columns: 75% 1fr;
}

.right-container {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.file-select {
    background: white;
    padding: 10px 10px;
}

.post-input {
    display: block;
    margin: 12px auto 0;
    padding: 5px 6px;
    width: fit-content;
}

.input-np {
    margin: 34px 0;
    position: relative;
    width: 95%;
}

.flat-inp-np {
    border: none;
    border-bottom: 1px solid #d0dce7;
    display: block;
    font-size: 15px;
    padding: 0.625em 0.625em 0.625em 0.3125em;
    width: 100%;
}

.highlight-np {
    background: var(--primary-color);
    bottom: 0;
    height: 2px;
    opacity: 0;
    position: absolute;
    width: 100%;
}

.label-np {
    color: #999;
    font-size: 15px;
    font-weight: normal;
    left: 12px;
    pointer-events: none;
    position: absolute;
    top: 9px;
    transition: 0.22s ease all;
    unicode-bidi: plaintext;
}

#inp-title,
#inp-sum,
#inp-cats {
    height: 36px;
}

.inp-cats {
    width: 100%;
}

fieldset {
    border: solid #ffffff;
    display: inline-block;
    margin-top: 26px;
}

fieldset legend {
    color: var(--primary-color);
    font-size: 15px;
    padding: 0 4px;
}

.file-prev {
    display: block;
    margin: 0 auto;
    width: 250px;
}

.button {
    border: none;
    font-size: 15px;
    margin-bottom: 24px;
    width: 10%;
}
