/****************************************************************************/
/*******************************    Common    *******************************/
/****************************************************************************/
:root {
    --nav-height: 52px; /* height of main navigation bar */
    --footer-height: 300px; /* height of page footer */
    --icons-color: #919da5;
    --text-main-color: #212121;
    --text-secondary-color: #757575;
}

/* prevent animations to run while the page is loading;
/* when the page is fully loaded, this class is removed by javascript
/* Attention: alternative approaches (instead of adding class) were tried but did not work */
.preload * {
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
}

@font-face {
    font-family: Vazir;
    src: url(../font/vazir-wol.woff2) format('woff2'); /* the font lacks latin characters */
    unicode-range: U+0600-06FF; /* use only persian characters from this font */
}

@font-face {
    font-family: Vazir;
    font-weight: bold; /* apply to bold texts */
    src: url(../font/vazir-bold-wol.woff2) format('woff2'); /* the font lacks latin characters */
    unicode-range: U+0600-06FF; /* use only persian characters from this font */
}

* {
    box-sizing: border-box;
    font-family: 'Vazir', 'Roboto', sans-serif;
}

::selection { /* set text and its background color when highlighted */
    background: var(--primary-color);
    color: var(--text-main-color);
}

::-moz-selection { /* Do not merge this with the above rule; DOES NOT WORK! */
    background: var(--primary-color);
    color: var(--text-main-color);
}

body {
    background: #efefef;
    margin: 0;
    min-height: 100vh;
    position: relative;
}

main {
    max-width: 1200px;
}

.pinned {
    fill: var(--primary-color) !important;
}

#results-container {
    display: grid;
    margin: 6px auto 0;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
}

.result-prompt {
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-size: 15px;
    height: fit-content;
    margin: 16px auto -10px;
    padding: 10px 24px;
    width: 87.5%;
}

.no-result-prompt {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-size: 15px;
    left: 50%;
    line-height: 36px;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 35%;
    transform: translate(-50%, -50%);
}

.no-result-prompt img {
    height: 50px;
}

.page-prompt {
    align-items: center;
    animation: comeUp 0.5s, fadeout 0.5s 5s;
    -webkit-animation: comeUp 0.5s, fadeout 0.5s 5s;
    background: var(--tertiary-color);
    background-size: cover;
    border-radius: 2px;
    bottom: 30px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    display: flex;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    left: 0;
    margin: 24px auto -10px;
    min-width: fit-content;
    opacity: 0.92;
    padding: 20px 30px;
    position: fixed;
    right: 0;
    visibility: visible;
    width: 350px;
    z-index: 5;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.page-prompt-text {
    unicode-bidi: plaintext;
}

/****************************************************************************/
/***************************    Top navigation    ***************************/
/****************************************************************************/
nav {
    background: #fafafa;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    color: #272727;
    height: var(--nav-height);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.cat-container .active {
    background-color: var(--primary-color);
    color: #fff;
}

.nav-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
}

.logo-search-container {
    display: flex;
}

.brand-logo g {
    fill: none;
    stroke: var(--primary-color);
    stroke-linecap: round;
    stroke-linejoin: round;
}

.search-container {
    align-items: center;
    display: flex;
    margin-left: 40px;
    width: 240px;
}

.search-form {
    align-items: center;
    display: flex;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    outline: none;
    position: relative;
    transition: all ease 0.2s;
    right: 26px;
    width: 26px;
}

.search-icon {
    fill: none;
    stroke: var(--icons-color);
    transition: all ease-out 200ms;
    width: 100%;
}

.search-input {
    align-items: center;
    background: #efefef;
    border: none;
    border-radius: 4px;
    color: #555;
    display: flex;
    font-size: 13px;
    height: 30px;
    padding: 0 8px;
    transition: all ease 0.2s;
    width: 220px;
}

.search-input:focus {
    height: 34px;
    /*width: 228px;*/
}

.search-input:focus + .search-button {
    width: 28px;
    right: 30px;
}

.search-input:focus + .search-button > .search-icon {
    stroke: var(--primary-color);
}

.search-input::placeholder {
    color: #aaa;
}

.brand-logo {
    display: flex;
    height: 32px;
    margin: 2px 0 0 40px;
    fill: var(--primary-color);
}

.cat-container {
    display: flex;
    font-size: 15px;
    height: 100%;
    margin-left: -110px;
}

.cat-container a {
    align-items: center;
    color: #212121;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    line-height: 100%;
    padding: 0 20px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.1s;
}

.cat-container a:hover:not(.active) {
    background-color: var(--primary-color);
    color: #fff;
}

.usr-inf-container {
    margin-left: -65px;
    margin-right: 40px;
}

.usr,
.usr-inf-container,
.usr-log {
    align-items: center;
    -webkit-align-items: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    justify-content: center;
}

#log-in {
    color: #666;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    margin-right: 30px;
    transition: all ease 100ms;
}

#log-in:hover {
    color: var(--primary-color);
}

#sign-up:hover {
    color: var(--tertiary-color);
}

#sign-up {
    color: var(--primary-color);
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    margin-right: 40px;
    transition: all ease 100ms;
}

#new-post {
    align-items: center;
    display: flex;
    font-size: 14px;
    margin-right: 36px;
    padding: 6px 8px;
    transition: all ease 0.4s;
}

#avatar {
    border-radius: 50%;
    height: 40px;
}

.btn {
    background-color: var(--primary-color);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 5px, rgba(0, 0, 0, 0.12) 0 1px 3px;
    color: white;
    cursor: pointer;
    display: inline-block;
    min-height: 34px;
    min-width: fit-content;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    transition: all ease-in 450ms;
    -webkit-transition: 0.2s ease-out;
    width: 64px;
}

.btn a {
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--tertiary-color);

}

.hamburger-icon {
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    font-size: 32px;
    height: var(--nav-height);
    line-height: 100%;
    padding: 0 20px;
    transition: all ease 0.2s;
}

.hamburger-icon:hover {
    background: rgba(0, 0, 0, .2);
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.side-nav {
    background-color: #efefef;
    box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.14);
    height: 100%;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    position: fixed;
    text-align: center;
    top: 0;
    transition: 0.45s;
    width: 0;
    z-index: 10;
}

.side-nav a {
    color: #818181;
    display: block;
    font-size: 25px;
    margin: 0 0 20px;
    text-decoration: none;
    transition: linear 100ms;
}

.side-nav a:hover {
    color: var(--primary-color);
}

.close-cat {
    color: #818181;
    cursor: pointer;
    font-size: 36px;
    padding: 2px 14px 4px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all ease 0.1s;
}

.close-cat:hover {
    background: rgba(0, 0, 0, 0.15);
}

.vert-cat {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 80%;
    justify-content: space-between;
    max-height: 500px;
    text-transform: capitalize;
}

/****************************************/
/************ Login dialog ************/

.remember-me {
    margin-top: 36px;
}

/********************************************/
/************* check box **************/
.check-box label {
    color: var(--text-secondary-color);
    cursor: pointer;
    position: relative;
    user-select: none;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

/* The box */
.check-box label:before {
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    content: '';
    display: inline-block;
    height: 11px;
    margin: 0 10px 0 0;
    transition: all .2s ease;
    vertical-align: middle;
    width: 11px;
    user-select: none;
    will-change: background-color, border-color;
}

/* Check-mark */
.check-box label:after {
    border: 2px solid #fff;
    border-right-style: none;
    border-top-style: none;
    content: '';
    height: 3px;
    right: 50%;
    position: relative;
    top: 7px;
    transform: scale(0, 0) rotate(-90deg) translateZ(0);
    transform-origin: bottom left;
    transition: all .2s ease;
    width: 8px;
    will-change: transform;
}

.check-box input[type=checkbox] {
    display: none;
}

.check-box input[type=checkbox]:checked + label:before {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.check-box input[type=checkbox]:checked + label:after {
    transform: scale(1, 1) rotate(-45deg) translateZ(0);
}

/************* check box **************/

/* form starting stylings ------------------------------- */
.flat-inp {
    border: none;
    border-bottom: 1px solid #d0dce7;
    display: block;
    font-size: 18px;
    margin: 0 auto;
    padding: 0.625em 0.625em 0.625em 0.3125em;
    width: 90%;
}

input:not([type=checkbox]):focus,
textarea:focus {
    outline: none;
}

.label {
    color: #999;
    font-size: 17px;
    font-weight: normal;
    left: 12px;
    pointer-events: none;
    position: absolute;
    top: 0.625em;
    transition: 0.22s ease all;
}

/*!* active state *!*/
input:not([type=checkbox]):focus ~ label,
input:not([type=checkbox]):valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
    color: var(--primary-color);
    font-size: 13px;
    left: 10px;
    top: -20px;
}

.highlight {
    background: var(--primary-color);
    bottom: 0;
    height: 2px;
    left: 11px;
    opacity: 0;
    position: absolute;
    width: 90%;
}

/**************************************************************************/

#login-dialog {
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.log-form {
    background: #fff;
    border-radius: 2px;
    left: 50%;
    padding: 40px 40px 20px;
    position: absolute;
    text-align: center;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 340px;
}

#login-dialog .close {
    color: #6a6a6a;
    cursor: pointer;
    font-size: 24px;
    padding: 5px 14px 6px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all ease 0.1s;
}

#login-dialog .close:hover {
    background: rgba(0, 0, 0, 0.2);
}

#login-wrapper,
#register-wrapper {
    display: none;
}

.register-form,
.log-form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.log-prompt {
    color: var(--tertiary-color);
    cursor: pointer;
}

.log-prompt:hover {
    color: var(--primary-color);
}

.input {
    margin: 50px auto 0;
    position: relative;
}

.file-upload {
    background: #a5a5a5;
    border: 1px solid #cccccc;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 10px;
    transition: background-color ease 0.2s;
}

.file-upload:hover {
    background: #919191;
}

.file-upload input {
    display: none;
}

.avatar-upload img {
    border-radius: 2px;
}

.avatar-upload {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    width: 250px;
}

#login-dialog img {
    height: 50px;
    max-width: 100px;
    width: auto;
}

#login-dialog p {
    font-size: 12px;
    margin-top: 30px;

}

#login-dialog button {
    border: 0;
    font-size: 14px;
    margin-top: 32px;
}

.prompt {
    bottom: 9px;
    color: #c61e23;
    font-size: 12px;
    opacity: 0;
    position: absolute;
    right: 10px;

}

.invalid-login {
    color: #de1e26;
    display: none;
    font-size: 13px;
    margin-top: 40px;
}

.login-form .input:first-child,
.register-form .input:first-child {
    margin-top: 24px;
}

.login-form .input:nth-child(2),
.register-form .input:nth-child(2) {
    margin-bottom: 20px;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes comeUp {
    from {
        bottom: 0;
    }
    to {
        bottom: 30px;
    }
}

@-webkit-keyframes comeUp {
    from {
        bottom: 0;
    }
    to {
        bottom: 30px;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
        visibility: visible;
    }
    to {
        bottom: 0;
        opacity: 0;
        visibility: hidden;
    }
}

.logout {
    cursor: pointer;
    height: 18px;
    vertical-align: middle;
    stroke: #758190;
    fill: none;
}

/****************************************/
/************ Main content ************/
main {
    margin: auto;
    padding-bottom: var(--footer-height);
    padding-top: var(--nav-height);
    /*overflow: hidden;*/
}

.top-cards {
    display: grid;
    margin: 4px auto 0;
    /*max-width: 1200px;*/
    grid-template-columns: repeat(3, 1fr);
}

/****************************************/
/***************** Card *****************/
.card-header {
    align-items: center;
    -webkit-align-items: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    height: 52px;
    justify-content: space-between;
    margin: 0 8px;
}

.card article {
    margin: 10px 16px 16px;
    /*word-break: break-all;*/
}

.card article p {
    color: #444444;
    font-size: 14px;
    line-height: 20px;
    margin: 8px 0;
    text-align: justify;
    text-justify: distribute;
    unicode-bidi: plaintext;
}

.card-avatar {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 36px;
    margin-right: 12px;
}

.author-info {
    align-items: center;
    display: flex;
    margin-left: 2px;
}

.author-inf-nav {
    align-items: center;
    display: flex;
    margin-right: 32px;
}

.author {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 0;
}

.author .usr-name {
    color: #555555;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 4px;
}

.status-icons {
    align-items: center;
    -webkit-align-items: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    justify-content: space-between;
}

.score {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.score span {
    color: var(--icons-color);
    font-size: 11px;
    font-weight: bold;
    margin: 0;
}

.score img {
    height: 12px;
    margin-left: 12px;
}

.card-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

.read-more {
    background-color: transparent;
    border-radius: 2px;
    color: #757575;
    font-size: 12px;
    line-height: 1.2; /* to correct line height of text in buttons for persian language */
    padding: 8px 10px 6px;
    text-align: center;
    text-decoration: none;
    transition: all 450ms cubic-bezier(.23, 1, .32, 1);
    unicode-bidi: plaintext;
}

.read-more:hover {
    background: rgba(150, 150, 150, 0.25);
    color: #555;
}

.read-more:active {
    background: rgba(150, 150, 150, 0.5);
}

.card-img,
.card .card-video {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    transition: filter ease 0.25s;
    width: 100%;
}

.card-video {
    width: 100%;
}

.video-container {
    position: relative;
}

.card .card-video {
    background-color: #000;
    /*min-height: 144px;*/
    max-height: 185px;
}

.subject .card-video {
    height: 144px;
}

.card:hover .card-img, .card:hover .card-video {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.ply-btn {
    fill: #fff;
    background-color: rgba(23, 33, 35, .75);
    border-radius: 10%;
    bottom: 0;
    cursor: pointer;
    height: 24%;
    left: 0;
    margin: auto;
    /*max-height: 50px;*/
    /*max-width: 80px;*/
    min-height: 32px;
    min-width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .18s ease;
    transition-property: width, height, background-color;
    width: 18.5%;
    padding: 3.5%;
}

.ply-btn:hover {
    background-color: var(--primary-color);
    opacity: 0.9;
}

.ply-btn path {
    transition: all .3s ease;
}

progress {
    border: none;
    left: 0;
    bottom: 0;
    height: 4px;
    position: absolute;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
}

progress::-moz-progress-bar {
    background: var(--primary-color);
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
}

progress::-webkit-progress-bar {
    background: none;
}

progress::-webkit-progress-value {
    background: var(--primary-color);
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.card h1 {
    color: #212121;
    font-size: 19px;
    line-height: 26px;
    margin: 0;
    text-align: justify;
    unicode-bidi: plaintext;
}

.hot-icon {
    height: 18px;
    margin-right: 19px;
    vertical-align: middle;
    fill: var(--icons-color);
}

.share-container {
    position: relative;
}

.share-content {
    background: white;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 -1px 4px 0 rgba(0, 0, 0, 0.2);
    left: 10px;
    opacity: 0;
    position: absolute;
    top: 22px;
    transform: translate(-20px, 0px);
    transition: all 0.3s cubic-bezier(0.75, -0.02, 0.2, 0.97);
    visibility: hidden;
    width: fit-content;
    z-index: 10;
}

.share-content img {
    height: 18px;
    margin: 10px 10px 0;
    width: 15px;
}

.share-content a:last-child img {
    margin-bottom: 5px;
    width: 14px;
}

/* arrow for triangle */
.arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.18);
    display: inline-block;
    padding: 6px;
    position: absolute;
    right: calc(50% - 7px);
    top: -7px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

/* top triangle */
.share-content:before {
    border-color: transparent transparent white transparent;
    border-style: solid;
    border-width: 0 9px 9px 9px;
    content: '';
    position: absolute;
    right: calc(50% - 9px);
    top: -8px;
    z-index: -1;
}

.share-icon {
    cursor: pointer;
    margin-right: 4px;
    vertical-align: middle;
    width: 13px;
    fill: var(--icons-color);
}

.meters {
    align-items: center;
    display: flex;
    margin-left: 20px;
    margin-top: 4px;
}

/*********** like icon ***********/

.heart-static {
    background: url(../img/ic-heart.png) no-repeat left;
    background-size: 2900%;
    height: 48px;
    margin-right: 6px;
    width: 48px;
}

.not-liked {
    background: url(../img/ic-heart.png) no-repeat left;
    background-size: 2900%;
    cursor: pointer;
    height: 48px;
    margin-right: 6px;
    width: 48px;
}

.not-liked:hover {
    background-position: right;
}

.liked {
    background: url(../img/ic-heart.png) no-repeat right;
    background-size: 2900%;
    cursor: pointer;
    height: 48px;
    margin-right: 6px;
    width: 48px;
}

.animating {
    animation: heart-burst .8s steps(28) 1;
}

@keyframes heart-burst {
    from {
        background-position: left;
    }
    to {
        background-position: right;
    }
}

/*******************************/
.like-num {
    color: var(--icons-color);
    font-size: 12px;
    font-weight: normal;
    margin-right: -4px;
    margin-top: 0;
    text-align: center;
}

.chips-container {
    display: flex;
    width: 60%;
}

.chip {
    background: rgba(224, 224, 224, 0.8);
    border-radius: 16px;
    color: #666;
    font-size: 13px;
    height: fit-content;
    margin-right: 5px;
    overflow: hidden;
    padding: 5px 12px;
    text-decoration: none;
    text-overflow: ellipsis;
    width: fit-content;
}

.pinned-cards {
    margin-top: -8px;
}

.card-date {
    color: #757575;
    font-size: 10px;
    margin-left: 8px;
}

.card {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    /*height: fit-content;*/
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 20px 16px 10px;
    overflow: hidden;
    transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.hidden {
    display: none;
}

.sum h1 {
    font-size: 15px;
    padding: 10px;
    text-align: left;
}

.sum a {
    text-decoration: none;
}

.hr {
    border-top: 1px solid #e6e6e6;
}

/**************************************/
/*rest*/
.rest {
    display: grid;
    /*margin: 6px auto auto;*/
    /*max-width: 1200px;*/
    grid-template-columns: 4fr 1fr;
}

.category {
    display: grid;
    margin-top: 12px;
    grid-template-columns: 1fr 1fr 1fr;
}

.subject {
    align-items: center;
    background: linear-gradient(#eee, #fff);
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #909090;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 40px;
    height: 68px;
    justify-content: center;
    margin: 0 1rem 0;
    text-transform: capitalize;
    grid-column-start: 1;
    grid-column-end: 4;
    /*background: #ffffff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23cccccc' stroke-width='10' %3E%3Cpath d='M-500%2C75c0%2C0%2C125-30%2C250-30S0%2C75%2C0%2C75s125%2C30%2C250%2C30s250-30%2C250-30s125-30%2C250-30s250%2C30%2C250%2C30s125%2C30%2C250%2C30s250-30%2C250-30'/%3E%3Cpath d='M-500%2C45c0%2C0%2C125-30%2C250-30S0%2C45%2C0%2C45s125%2C30%2C250%2C30s250-30%2C250-30s125-30%2C250-30s250%2C30%2C250%2C30s125%2C30%2C250%2C30s250-30%2C250-30'/%3E%3Cpath d='M-500%2C105c0%2C0%2C125-30%2C250-30S0%2C105%2C0%2C105s125%2C30%2C250%2C30s250-30%2C250-30s125-30%2C250-30s250%2C30%2C250%2C30s125%2C30%2C250%2C30s250-30%2C250-30'/%3E%3Cpath d='M-500%2C15c0%2C0%2C125-30%2C250-30S0%2C15%2C0%2C15s125%2C30%2C250%2C30s250-30%2C250-30s125-30%2C250-30s250%2C30%2C250%2C30s125%2C30%2C250%2C30s250-30%2C250-30'/%3E%3Cpath d='M-500-15c0%2C0%2C125-30%2C250-30S0-15%2C0-15s125%2C30%2C250%2C30s250-30%2C250-30s125-30%2C250-30s250%2C30%2C250%2C30s125%2C30%2C250%2C30s250-30%2C250-30'/%3E%3Cpath d='M-500%2C135c0%2C0%2C125-30%2C250-30S0%2C135%2C0%2C135s125%2C30%2C250%2C30s250-30%2C250-30s125-30%2C250-30s250%2C30%2C250%2C30s125%2C30%2C250%2C30s250-30%2C250-30'/%3E%3C/g%3E%3C/svg%3E") fixed;*/
}

/*************************************************/
/*************** media queries *******************/
@media screen and (max-width: 1340px) {
    .pinned-cards {
        display: none;
    }

    .rest {
        margin: auto;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1060px) {
    .top-cards {
        display: grid;
        margin: auto;
        width: 50%;
        grid-template-columns: 1fr;
    }

    .category {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0;
    }

    .rest {
        margin: auto;
        width: 90%;
        grid-template-columns: 1fr;
    }

    .subject {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media screen and (max-width: 768px) {

    .search-container {
        display: none;
    }

    .top-cards {
        display: grid;
        margin: auto;
        width: 70%;
        grid-template-columns: 1fr;
    }

    .category {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    .rest {
        margin: auto;
        width: 70%;
        grid-template-columns: 1fr;
    }

    .subject {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

@media screen and (max-width: 544px) {
    .top-cards {
        display: grid;
        margin: auto;
        width: 90%;
        grid-template-columns: 1fr;
    }

    .rest {
        width: 90%;
    }

    .foot-links > div:first-child {
        display: none;
    }
}

@media screen  and (max-width: 850px) {
    .cat-container {
        display: none;
    }

    .hamburger-icon {
        display: flex;
    }

}

@media screen and (max-width: 430px) {
    .brand-logo {
        display: none;
    }

    .log-form {
        bottom: 0;
        max-width: 90%;
    }
}

/**************************************************/
/********************* footer *********************/
.page-footer {
    background: #f5f5f5;
    bottom: 0;
    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.14);
    margin-top: 20px;
    position: absolute;
    width: 100%;
}

.footer-container {
    margin: auto;
    max-width: 1200px;
}

.up-foot {
    height: calc(var(--footer-height) - 80px);
}

.foot-follow-us {
    align-items: center;
    display: flex;
    flex-flow: column;
}

.foot-preferences {
    align-items: center;
    display: flex;
    flex-flow: column;
}

.follow-prompt {
    margin-bottom: 4px;
}

.follow-us-image {
    height: 20px;
    width: 17px;
}

.follow-us-rss {
    width: 14px;
}

.follow-us-image, .follow-us-rss {
    margin-top: 12px;
}

.foot-follow-us img {
    filter: contrast(0%) brightness(130%);
}

.foot-follow-us img:hover {
    filter: none;
}

.langs {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 16px;
    width: 135px;
}

.lang {
    align-items: center;
    cursor: pointer;
    display: flex;
}

.lang-flag {
    filter: grayscale(100%) opacity(40%);
    margin-right: 8px;
    width: 18px;
    transition: all 100ms;
}

.lang:hover .lang-flag {
    filter: grayscale(0%);
}

.lang-name {
    color: #272727;
    font-size: 11px;
}

.copyright {
    background: #eaeaea;
    bottom: 0;
    color: #555;
    font-size: 14px;
    padding-bottom: 11px;
    padding-top: 14px;
    text-align: center;
    width: 100%;
}

.foot-links {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-around;
}

.foot-sec-1, .foot-sec-2 {
    align-items: center;
    display: flex;
    flex-flow: column;
    font-size: 14px;
    justify-content: center;
}

.foot-sec-1 a, .foot-sec-2 a {
    color: #272727;
    margin: 10px 0;
    text-decoration: none;
    transition: all ease 0.08s;
}

.foot-sec-1 a:hover, .foot-sec-2 a:hover {
    color: var(--primary-color);
}

.lang-prompt {
    margin-top: 36px;
}

.theme-choose {
    display: flex;
    flex-flow: column;
}

.theme-prompt, .lang-prompt, .follow-prompt {
    color: #272727;
    font-size: 14px;
    unicode-bidi: plaintext;
}

.themes {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin-top: 4px;
}

.theme-container {
    padding: 14px;
    cursor: pointer;
}

.theme {
    border-radius: 3px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    filter: contrast(0%) brightness(120%);
    height: 10px;
    width: 10px;
    transition: all 200ms;
}

.theme-container:hover .theme {
    box-shadow: 0 0 0 14px;
    filter: none;
}

.theme-active {
    filter: none;
}

.theme-cyan {
    background: #00acc1;
    color: rgba(0, 172, 193, 0.5);
}

.theme-orange {
    background: #ff9800;
    color: rgba(255, 152, 0, 0.5);
}

.theme-pink {
    background: #e91e63;
    color: rgba(233, 30, 99, 0.5);
}

/*******************************/
.multiline-text {
    border: solid 1px #ccc;
    height: 160px;
    outline-color: var(--primary-color);
    overflow: auto;
    padding: 8px;
    resize: none;
    width: 100%;
}
