.form-container {
    margin-top: 24px;
}

form {
    display: grid;
    grid-template-columns: 75% 1fr;
}

.right-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.file-select {
    background: white;
    padding: 10px 10px;
}

.post-input {
    display: block;
    width: fit-content;
    margin: 12px auto 0;
    padding: 5px 6px;
}

.input-np {
    position: relative;
    width: 95%;
    margin: 34px 0;
}

.flat-inp-np {
    border: none;
    border-bottom: 1px solid #d0dce7;
    display: block;
    font-size: 15px;
    padding: 0.625em 0.625em 0.625em 0.3125em;
    width: 100%;
}

.highlight-np {
    background: #00acc1;
    bottom: 0;
    height: 2px;
    opacity: 0;
    position: absolute;
    width: 100%;
}

.label-np {
    color: #999;
    font-size: 15px;
    font-weight: normal;
    left: 12px;
    pointer-events: none;
    position: absolute;
    top: 9px;
    transition: 0.22s ease all;
}

#inp-title, #inp-sum, #inp-cats {
    height: 36px;
}

.inp-cats {
    width: 100%;
}

fieldset {
    border: solid #ffffff;
    display: inline-block;
    margin-top: 26px;
}

fieldset legend {
    font-size: 15px;
    padding: 0 4px;
    color: #00acc1;
}

.file-prev {
    width: 250px;
    margin: 0 auto;
    display: block;
}
 button {
     border: none;
     width: 10%;
     font-size: 15px;
     margin-bottom: 24px;
 }
