main {
    display: grid;
    width: 90%;
    grid-template-columns: 5fr 2fr;
    grid-gap: 16px;
}

.main-content {
    margin: 16px;
}

.article-container {
    background: white;
    border-radius: 2px;
    display: flex;
    flex-flow: column;
    height: fit-content;
    margin: 30px 0;
}

.article-img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    width: 100%;
}

.article-video {
    max-height: 500px;
    background-color: #000;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    width: 100%;
}

.article-header {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.info {
    margin-right: 24px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.article-title {
    margin: 0;
    font-size: 26px;
    line-height: 36px;
}

.subheading {
    align-items: center;
    display: flex;
    font-size: 14px;
    margin-top: 8px;
}

.subheading img {
    border-radius: 50%;
    width: 30px;
}

.subheading .creator-name {
    margin-left: 8px;
}

.subheading .time {
    margin-left: 24px;
    color: #9a9a9a;
    font-size: 12px;
}

.creator {
    align-items: center;
    display: flex;
}

.meters img {
    width: 24px;
}

.icons {
    border-radius: 2px;
    color: #AAB8C2;
    display: flex;
    font-size: 14px;
    height: fit-content;
    justify-content: center;
    /*border: 1px solid #e7e7e7;*/
    padding: 0 8px;
}

.icons img {
    width: 13px;
}

.meters {
    display: flex;
    flex-flow: column;
}

.likes, .comm-count {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.comm-icon {
    direction: rtl;
    margin-right: 24px;
}

.comm-count span {
    padding-right: 10px;
    font-size: 12px;
}

.likes-right {
    margin-top: 5px;
}

.actions {
    display: flex;
    flex-flow: column;
}

.actions img:not(:last-child) {
    margin-bottom: 10px;
}

.article-share {
    margin-left: 10px;
}

.article-share a {
    text-decoration: none;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.article-share a:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.article-share img {
    margin-right: 18px;
    width: 20px;
    margin-top: 4px;
}

.article-content {
    font-size: 18px;
    line-height: 26px;
    margin-top: 16px;
    text-align: justify;
}

.similar-container {
    align-items: center;
    display: flex;
    flex-flow: column;
    margin-top: 10px;
}

.cat-share-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.separator {
    border-top: 1px solid #E6E6E6;
    margin: 12px 0;
}

.top-radius {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.comments {
    background: rgb(247, 247, 247);
    border-radius: 2px;
    margin-top: 36px;
    padding: 16px;
}

.wrt-comment .btn {
    margin-top: 8px;
}

.comment img {
    width: 32px;
    border-radius: 50%;
}

.com-auth-name {
    margin-top: 4px;
    font-size: 12px;
}

.comment {
    align-items: start;
    display: flex;
    margin-top: 20px;
    border-left: 3px solid #d0d0d0;
    background-color: #fcfcfc;
}

.comment-text {
    color: #444444;
    line-height: 21px;
    padding: 12px 0;
    margin: auto 0;
    width: 88%;
    font-size: 14px;
}

.comment-author {
    align-items: center;
    display: flex;
    flex-flow: column;
    padding: 12px 0;
    width: 75px;
}

.wrt-comment button {
    border: none;
    width: 8%;
    font-size: 15px;
    margin-bottom: 24px;
}
