/*=======================================*/
/*************** Common ****************/
:root {
    --nav-height: 52px;
    --footer-height: 280px;
}

@font-face {
    font-family: Sahel;
    src: url(../fonts/Sahel-FD.ttf);
    unicode-range: U+0600-06FF;
}

@font-face {
    font-family: Sahel;
    src: url(../fonts/Sahel-FD-Bold.ttf);
    unicode-range: U+0600-06FF;
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

* {
    box-sizing: border-box;
    font-family: "Sahel", "Roboto", sans-serif;
}

::selection {
    background: #00BCD4;
    color: #222;
}

::-moz-selection {
    background: #00BCD4;
    color: #222;
}

/*prevent animations to run on page load*/
.preload * {
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
}

body {
    background: #efefef;
    margin: 0;
    min-height: 100vh;
    position: relative;
}

main {
    max-width: 1200px;
}

.primary {
    color: #00acc1 !important;
    fill: #00acc1 !important;
}

#results-container {
    display: grid;
    margin: 6px auto 0;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
}

.result-prompt {
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-size: 15px;
    height: fit-content;
    margin: 16px auto -10px;
    padding: 10px 24px;
    width: 87.5%;
}

.no-result-prompt {
    background: #ffffff;
    border-radius: 2px;
    bottom: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-size: 15px;
    height: fit-content;
    left: 0;
    line-height: 36px;
    margin: auto;
    padding: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -180px;
    width: fit-content;
}

.no-result-prompt img {
    height: 50px;
}

.page-prompt {
    align-items: center;
    animation: comeUp 0.5s, fadeout 0.5s 5s;
    -webkit-animation: comeUp 0.5s, fadeout 0.5s 5s;
    background: #00838F;
    background-size: cover;
    border-radius: 2px;
    bottom: 30px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    display: flex;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    left: 0;
    margin: 24px auto -10px;
    padding: 22px;
    position: fixed;
    right: 0;
    /*background: #006064 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23006f76' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23007d88' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23008d9b' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23009cae' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%2300acc1' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%2300a8bc' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%2300a4b7' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23009fb1' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23009bac' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%230097a7' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E") fixed center;*/
    visibility: visible;
    width: 25%;
    z-index: 5;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.page-prompt-text {
    unicode-bidi: plaintext;
}

/****************************************/
/************ Top navigation ************/
nav {
    background: #fafafa;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    color: #272727;
    height: var(--nav-height);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.active {
    background-color: #00acc1;
    color: #fff;
}

.nav-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
}

.brand-search-container {
    display: flex;
}

.search-container {
    align-items: center;
    display: flex;
    margin-left: 40px;
    width: 240px;
}

.search-form {
    align-items: center;
    display: flex;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    outline: none;
    position: relative;
    right: 26px;
}

.search-icon {
    width: 12px;
}

.search-input {
    align-items: center;
    /*background: #fff;*/
    /*border: 1px solid #9ba7af;*/
    background: #efefef;
    border: none;
    border-radius: 4px;
    color: #555;
    display: flex;
    font-size: 13px;
    height: 30px;
    padding: 0 8px;
    transition: all ease 0.2s;
    width: 220px;
}

.search-input:focus {
    /*border: 1px solid #00B8D4;*/
    border-radius: 0;
    height: 34px;
    width: 228px;
}

.search-input::placeholder {
    color: #b0b0b0;
}

.brand {
    display: flex;
    height: 32px;
    margin: 2px 0 0 40px;
    fill: #00acc1;
}

.cat-container {
    display: flex;
    font-size: 15px;
    height: 100%;
    margin-left: -110px;
}

.cat-container a {
    align-items: center;
    color: #272727;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    line-height: 100%;
    padding: 0 20px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.1s;
}

.cat-container a:hover:not(.active) {
    background-color: #00acc1;
    color: #fff;
}

.usr-inf-container {
    margin-left: -65px;
    margin-right: 40px;
}

.usr, .usr-inf-container, .usr-log {
    align-items: center;
    -webkit-align-items: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    justify-content: center;
}

#log-in {
    color: #666;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    margin-right: 30px;
    transition: all ease 0.12s;
}

#log-in:hover, #sign-up:hover {
    color: #00acc1;
}

#sign-up {
    color: #0097A7;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    margin-right: 40px;
    transition: all ease 0.12s;
}

#new-post {
    font-size: 14px;
    margin-right: 36px;
    padding: 6px 8px;
    transition: all ease 0.4s;
}

#avatar {
    border-radius: 50%;
    height: 40px;
}

.btn {
    background-color: #00acc1;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 5px, rgba(0, 0, 0, 0.12) 0 1px 3px;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    transition: all ease-in 450ms;
    -webkit-transition: 0.2s ease-out;
}

.btn a {
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: #669999;

}

.hamburger-icon {
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    font-size: 32px;
    height: var(--nav-height);
    line-height: 100%;
    padding: 0 20px;
    transition: all ease 0.2s;
}

.hamburger-icon:hover {
    background: rgba(0, 0, 0, .2);
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.side-nav {
    background-color: #efefef;
    box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.14);
    height: 100%;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    position: fixed;
    text-align: center;
    top: 0;
    transition: 0.45s;
    width: 0;
    z-index: 10;
}

.side-nav a {
    color: #818181;
    display: block;
    font-size: 25px;
    margin: 0 0 20px;
    text-decoration: none;
    transition: linear 0.12s;
}

.side-nav a:hover {
    color: #00acc1;
}

.close-cat {
    color: #818181;
    cursor: pointer;
    font-size: 36px;
    padding: 2px 14px 4px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all ease 0.1s;
}

.close-cat:hover {
    background: rgba(0, 0, 0, 0.15);
}

.vert-cat {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 80%;
    justify-content: space-between;
    max-height: 500px;
    text-transform: capitalize;
}

/****************************************/
/************ Login dialog ************/
/* form starting stylings ------------------------------- */
.flat-inp {
    border: none;
    border-bottom: 1px solid #d0dce7;
    display: block;
    font-size: 18px;
    margin: 0 auto;
    padding: 0.625em 0.625em 0.625em 0.3125em;
    width: 90%;
}

input:focus, textarea:focus {
    outline: none;
}

/* LABEL ======================================= */
.label {
    color: #999;
    font-size: 17px;
    font-weight: normal;
    left: 12px;
    pointer-events: none;
    position: absolute;
    top: 0.625em;
    transition: 0.22s ease all;
}

/*!* active state *!*/
input:focus ~ label, input:valid ~ label, textarea:focus ~ label, textarea:valid ~ label {
    color: #00acc1;
    font-size: 13px;
    left: 10px;
    top: -20px;
}

.highlight {
    background: #00acc1;
    bottom: 0;
    height: 2px;
    left: 11px;
    opacity: 0;
    position: absolute;
    width: 90%;
}

/**************************************************************************/
#login-dialog {
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.log-form {
    background: #FFFFFF;
    border-radius: 2px;
    bottom: 50px;
    height: fit-content;
    left: 0;
    margin: auto;
    max-width: 345px;
    padding: 40px 40px 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

#login-dialog .close {
    color: #6a6a6a;
    cursor: pointer;
    font-size: 24px;
    padding: 5px 14px 6px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all ease 0.1s;
}

#login-dialog .close:hover {
    background: rgba(0, 0, 0, 0.2);
}

#login-wrapper, #register-wrapper {
    display: none;
}

.register-form, .log-form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.log-prompt {
    color: #669999;
    cursor: pointer;
}

.log-prompt:hover {
    color: #00acc1;
}

.input {
    margin: 50px auto 0;
    position: relative;
}

.file-upload {
    background: #a5a5a5;
    border: 1px solid #cccccc;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 10px;
    transition: background-color ease 0.2s;
}

.file-upload:hover {
    background: #919191;
}

.file-upload input {
    display: none;
}

.avatar-upload img {
    border-radius: 2px;
}

.avatar-upload {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    width: 250px;
}

#login-dialog img {
    height: 50px;
    max-width: 100px;
    width: auto;
}

#login-dialog p {
    font-size: 12px;
    margin-top: 30px;

}

#login-dialog button {
    border: 0;
    font-size: 14px;
    margin-top: 32px;
}

.prompt {
    bottom: 9px;
    color: #c61e23;
    font-size: 12px;
    opacity: 0;
    position: absolute;
    right: 10px;

}

.invalid-login {
    color: #c61e23;
    display: none;
    font-size: 13px;
    margin-top: 40px;
}

.login-form .input:first-child, .register-form .input:first-child {
    margin-top: 24px;
}

.login-form .input:nth-child(2), .register-form .input:nth-child(2) {
    margin-bottom: 20px;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes comeUp {
    from {
        bottom: 0;
    }
    to {
        bottom: 30px;
    }
}

@-webkit-keyframes comeUp {
    from {
        bottom: 0;
    }
    to {
        bottom: 30px;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
        visibility: visible;
    }
    to {
        bottom: 0;
        opacity: 0;
        visibility: hidden;
    }
}

.logout {
    cursor: pointer;
    height: 18px;
    vertical-align: middle;
    fill: #838e9b;;
}

/****************************************/
/************ Main content ************/
main {
    margin: auto;
    padding-bottom: var(--footer-height);
    padding-top: var(--nav-height);
    /*overflow: hidden;*/
}

.top-cards {
    display: grid;
    margin: 6px auto 0;
    /*max-width: 1200px;*/
    grid-template-columns: repeat(3, 1fr);
}

/****************************************/
/***************** Card *****************/
.card-header {
    align-items: center;
    -webkit-align-items: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    height: 52px;
    justify-content: space-between;
    margin: 0 8px;
}

/* color of primary text: #212121 */
/* color of secondary text: #757575 */

.card article {
    margin: 10px 16px 16px;
    /*word-break: break-all;*/
}

.card article p {
    color: #444444;
    font-size: 14px;
    line-height: 20px;
    margin: 8px 0;
    text-align: justify;
    text-justify: distribute;
    unicode-bidi: plaintext;
}

.card-avatar {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 36px;
    margin-right: 12px;
}

.author-info {
    align-items: center;
    display: flex;
    margin-left: 2px;
}

.author-inf-nav {
    align-items: center;
    display: flex;
    margin-right: 32px;
}

.author {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 0;
}

.author .usr-name {
    color: #555555;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 4px;
}

.status-icons {
    align-items: center;
    -webkit-align-items: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    justify-content: space-between;
}

.score {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.score span {
    color: #919da5;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
}

.score img {
    height: 12px;
    margin-left: 16px;
}

.card-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

.read-more {
    background-color: transparent;
    border-radius: 2px;
    color: #757575;
    font-size: 12px;
    padding: 8px 10px 6px;
    text-align: center;
    text-decoration: none;
    transition: all 450ms cubic-bezier(.23, 1, .32, 1);
    unicode-bidi: plaintext;
}

.read-more:hover {
    background: rgba(150, 150, 150, 0.25);
    color: #555;
}

.read-more:active {
    background: rgba(150, 150, 150, 0.5);
}

.card-img, .card .card-video {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    transition: filter ease 0.25s;
    width: 100%;
}

.card-video {
    width: 100%;
}

.video-container {
    position: relative;
}

.card .card-video {
    background-color: #000;
    /*min-height: 144px;*/
    max-height: 185px;
}

.subject .card-video {
    height: 144px;
}

.card:hover .card-img, .card:hover .card-video {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.ply-btn {
    background-color: rgba(23, 33, 35, .75);
    border-radius: 5px;
    bottom: 0;
    cursor: pointer;
    height: 26%;
    left: 3px;
    margin: auto;
    max-height: 40px;
    max-width: 60px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
}

.ply-btn:hover {
    background-color: rgba(0, 172, 193, .91);
}

.ply-ico {
    background: transparent;
    border: 0;
    bottom: 0;
    cursor: pointer;
    height: 32px;
    left: 0;
    margin: auto;
    outline: none;
    position: absolute;
    right: 0;
    text-indent: 30px;
    top: 0;
    transform: scale(.5, .5);
    width: 30px;
}

.ply-ico::before, .ply-ico::after {
    /*DO NOT OPTIMIZE*/
    border-color: transparent;
    border-left-color: #eee;
    border-style: solid;
    border-width: 8px 0 8px 15px;
    content: '';
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s linear;
    width: 0;
}

.ply-ico::before {
    height: 16px;
}

.ply-ico::after {
    left: 15px;
    top: 8px;
}

.ply-ico-active::before, .ply-ico-active::after {
    border-width: 0 0 0 12px;
    height: 32px;
}

.ply-ico-active::after {
    left: 18px;
    top: 0;
}

progress {
    border: none;
    bottom: 0;
    height: 4px;
    position: absolute;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
}

progress::-moz-progress-bar {
    background: #00acc1;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
}

progress::-webkit-progress-bar {
    background: none;
}

progress::-webkit-progress-value {
    background: #00acc1;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.card h1 {
    color: #212121;
    font-size: 19px;
    line-height: 26px;
    margin: 0;
    text-align: justify;
    unicode-bidi: plaintext;
}

.hot-icon {
    height: 18px;
    margin-right: 18px;
    vertical-align: middle;
    fill: #919da5;
}

.share-container {
    position: relative;
}

.share-content {
    background: white;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 -1px 4px 0 rgba(0, 0, 0, 0.2);
    left: 10px;
    opacity: 0;
    position: absolute;
    top: 22px;
    transform: translate(-20px, 0px);
    transition: all 0.3s cubic-bezier(0.75, -0.02, 0.2, 0.97);
    visibility: hidden;
    width: fit-content;
    z-index: 10;
}

.share-content img {
    height: 18px;
    margin: 10px 10px 0;
    width: 15px;
}

.share-content a:last-child img {
    margin-bottom: 5px;
    width: 14px;
}

/* arrow for triangle */
.arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.18);
    display: inline-block;
    padding: 6px;
    position: absolute;
    right: calc(50% - 7px);
    top: -7px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

/* top triangle */
.share-content:before {
    border-color: transparent transparent white transparent;
    border-style: solid;
    border-width: 0 9px 9px 9px;
    content: "";
    position: absolute;
    right: calc(50% - 9px);
    top: -8px;
    z-index: -1;
}

.share-icon {
    cursor: pointer;
    margin-right: 4px;
    vertical-align: middle;
    width: 13px;
    fill: #919da5;
}

.meters {
    align-items: center;
    display: flex;
    margin-left: 20px;
    margin-top: 4px;
}

/*********** like icon ***********/

.heart-static {
    background: url('../images/ic-heart-animated.png') no-repeat left;
    background-size: 2900%;
    height: 48px;
    margin-right: 6px;
    width: 48px;
}

.not-liked {
    background: url('../images/ic-heart-animated.png') no-repeat left;
    background-size: 2900%;
    cursor: pointer;
    height: 48px;
    margin-right: 6px;
    width: 48px;
}

.not-liked:hover {
    background-position: right;
}

.liked {
    background: url('../images/ic-heart-animated.png') no-repeat right;
    background-size: 2900%;
    cursor: pointer;
    height: 48px;
    margin-right: 6px;
    width: 48px;
}

.animating {
    animation: heart-burst .8s steps(28) 1;
}

@keyframes heart-burst {
    from {
        background-position: left;
    }
    to {
        background-position: right;
    }
}

/*******************************/
.like-num {
    color: #919da5;
    font-size: 12px;
    font-weight: normal;
    margin-right: -4px;
    margin-top: 0;
    text-align: center;
}

.chip-container {
    display: flex;
    width: 50%;
}

.chip {
    background: rgba(224, 224, 224, 0.8);
    border-radius: 16px;
    color: #666;
    font-size: 13px;
    height: fit-content;
    margin-right: 5px;
    overflow: hidden;
    padding: 5px 12px;
    text-decoration: none;
    text-overflow: ellipsis;
    width: fit-content;
}

.pinned-cards {
    margin-top: -20px;
}

.card-date {
    color: #757575;
    font-size: 10px;
    margin-left: 8px;
}

.card {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    /*height: fit-content;*/
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 20px 1rem;
    transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.hidden {
    display: none;
}

.sum h1 {
    font-size: 15px;
    padding: 10px;
    text-align: left;
}

.sum a {
    text-decoration: none;
}

.hr {
    border-top: 1px solid #E6E6E6;
}

/**************************************/
/*rest*/
.rest {
    display: grid;
    margin: 6px auto auto;
    /*max-width: 1200px;*/
    grid-template-columns: 4fr 1fr;
}

.category {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.subject {
    align-items: center;
    background: white;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #959595;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 48px;
    height: 110px;
    justify-content: center;
    margin: 0 1rem 0;
    text-transform: capitalize;
    grid-column-start: 1;
    grid-column-end: 4;
    /*background: #ffffff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23cccccc' stroke-width='10' %3E%3Cpath d='M-500%2C75c0%2C0%2C125-30%2C250-30S0%2C75%2C0%2C75s125%2C30%2C250%2C30s250-30%2C250-30s125-30%2C250-30s250%2C30%2C250%2C30s125%2C30%2C250%2C30s250-30%2C250-30'/%3E%3Cpath d='M-500%2C45c0%2C0%2C125-30%2C250-30S0%2C45%2C0%2C45s125%2C30%2C250%2C30s250-30%2C250-30s125-30%2C250-30s250%2C30%2C250%2C30s125%2C30%2C250%2C30s250-30%2C250-30'/%3E%3Cpath d='M-500%2C105c0%2C0%2C125-30%2C250-30S0%2C105%2C0%2C105s125%2C30%2C250%2C30s250-30%2C250-30s125-30%2C250-30s250%2C30%2C250%2C30s125%2C30%2C250%2C30s250-30%2C250-30'/%3E%3Cpath d='M-500%2C15c0%2C0%2C125-30%2C250-30S0%2C15%2C0%2C15s125%2C30%2C250%2C30s250-30%2C250-30s125-30%2C250-30s250%2C30%2C250%2C30s125%2C30%2C250%2C30s250-30%2C250-30'/%3E%3Cpath d='M-500-15c0%2C0%2C125-30%2C250-30S0-15%2C0-15s125%2C30%2C250%2C30s250-30%2C250-30s125-30%2C250-30s250%2C30%2C250%2C30s125%2C30%2C250%2C30s250-30%2C250-30'/%3E%3Cpath d='M-500%2C135c0%2C0%2C125-30%2C250-30S0%2C135%2C0%2C135s125%2C30%2C250%2C30s250-30%2C250-30s125-30%2C250-30s250%2C30%2C250%2C30s125%2C30%2C250%2C30s250-30%2C250-30'/%3E%3C/g%3E%3C/svg%3E") fixed;*/
}

/*************************************************/
/*************** media queries *******************/
@media screen and (max-width: 1340px) {
    .pinned-cards {
        display: none;
    }

    .rest {
        margin: auto;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1060px) {
    .top-cards {
        display: grid;
        margin: auto;
        width: 50%;
        grid-template-columns: 1fr;
    }

    .category {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0;
    }

    .rest {
        margin: auto;
        width: 90%;
        grid-template-columns: 1fr;
    }

    .subject {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media screen and (max-width: 768px) {

    .search-container {
        display: none;
    }

    .top-cards {
        display: grid;
        margin: auto;
        width: 70%;
        grid-template-columns: 1fr;
    }

    .category {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    .rest {
        margin: auto;
        width: 70%;
        grid-template-columns: 1fr;
    }

    .subject {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

@media screen and (max-width: 544px) {
    .top-cards {
        display: grid;
        margin: auto;
        width: 90%;
        grid-template-columns: 1fr;
    }

    .rest {
        width: 90%;
    }

    .foot-links > div:first-child {
        display: none;
    }
}

@media screen  and (max-width: 850px) {
    .cat-container {
        display: none;
    }

    .hamburger-icon {
        display: flex;
    }

}

@media screen and (max-width: 430px) {
    .brand {
        display: none;
    }
}

/**************************************************/
/********************* footer *********************/
.page-footer {
    background: #f5f5f5;
    bottom: 0;
    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.14);
    margin-top: 20px;
    position: absolute;
    width: 100%;
}

.footer-container {
    margin: auto;
    max-width: 1200px;
}

.up-foot {
    height: 200px;
}

.foot-sec-left {
    align-items: center;
    display: flex;
    flex-flow: column;
}

.langs {
    display: flex;
    flex-flow: row;
    margin-top: 36px;
}

.lang {
    align-items: center;
    cursor: pointer;
    display: flex;
}

.lang:hover .lang-flag {
    filter: grayscale(0%);
}

.lang:not(:last-of-type) {
    margin-right: 20px;
}

.lang-flag {
    filter: grayscale(100%) opacity(40%);
    margin-right: 8px;
    width: 18px;
}

.lang-name {
    color: #444;
    font-size: 10px;
}

.copyright {
    background: #eaeaea;
    bottom: 0;
    color: #555;
    font-size: 14px;
    padding-bottom: 11px;
    padding-top: 14px;
    text-align: center;
    width: 100%;
}

.foot-links {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-around;
}

.foot-sec-1, .foot-sec-2 {
    align-items: center;
    display: flex;
    flex-flow: column;
    font-size: 14px;
    justify-content: center;
}

.foot-sec-1 a, .foot-sec-2 a {
    color: #272727;
    margin: 10px 0;
    text-decoration: none;
    transition: all ease 0.08s;
}

.foot-sec-1 a:hover, .foot-sec-2 a:hover {
    color: #00ACC1;
}

.foot-brand {
    align-items: center;
    display: flex;
    flex-flow: row;
}

.foot-brand-img {
    filter: opacity(20%) grayscale(100%);
    height: 68px;
    /*margin-right: 20px;*/
    fill: #00acc1;
}

/*******************************/
.multiline-text {
    border: solid 1px #ccc;
    height: 160px;
    outline-color: #00acc1;
    overflow: auto;
    padding: 8px;
    resize: none;
    width: 100%;
}
