<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block
            th:include="fragments::head(title=${@environment.getProperty('title') + ' - ' + categoryName + ' posts'}, desc='')"/>
    <link rel="stylesheet" th:href="@{/css/category-styles.css}">
</head>

<body>

<nav th:replace="fragments::navigation"></nav>
<div th:replace="fragments::login-dialog"></div>

<main>
    <div id="cat-page-container">
        <div class="card" th:fragment="card" th:each="post:${posts}"
             th:attr="data-post-id=${post.id}">
            <div th:replace="fragments::card-top-section"></div>
            <div class="card-bottom">
                <div class="hr"></div>
                <footer class="card-footer">
                    <div th:replace="fragments::card-datetime"></div>
                    <div th:replace="fragments::card-read-more"></div>
                </footer>
            </div>
        </div>
    </div>
    <div id="spinner" th:if="${posts.hasNext()}">
        <div class="loader">
            <div class="flipper">
                <div class="load-front"></div>
                <div class="load-back"></div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments::footer"></footer>

</body>
</html>
