<!DOCTYPE html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::head(~{this::title}, ~{}, ~{this::link})">
  <title th:text="#{page-title.error}"></title>
  <link rel="stylesheet" th:href="@{/css/error.min.css}">
</head>

<body class="preload" style="min-height: auto">
<div class="container">
  <div class="rect anim" data-anim-delay="0"></div>
  <div class="rect anim anim2" data-anim-delay="1"></div>
  <div class="rect anim anim3" data-anim-delay="2"></div>
  <div class="rect anim anim4" data-anim-delay="3"></div>
  <div class="rect anim anim5" data-anim-delay="4"></div>
  <div class="rect anim anim6" data-anim-delay="5"></div>
  <div class="rect anim anim7" data-anim-delay="6"></div>
  <div class="rect anim anim8" data-anim-delay="7"></div>
  <div class="rect anim anim9" data-anim-delay="8"></div>
  <div class="rect anim anim10" data-anim-delay="9"></div>
</div>
<p class="text">
  <span th:text="${code}"></span>
  <span th:text="#{${message}}"></span>
</p>
</body>

</html>
