<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments::head(titleAppend='')"/>
    <meta name="description" th:content="#{description}"/>
</head>

<body class="preload">

<nav th:replace="fragments::navigation"></nav>
<div th:replace="fragments::login-dialog"></div>

<main>
    <div th:replace="fragments::prompt"></div>
    <section class="top-cards">
        <div class="card" th:each="post:${topPosts}" th:attr="data-post-id=${post.id}">
            <div th:replace="fragments::card-top-section"></div>
            <div class="card-bottom">
                <div class="hr"></div>
                <footer class="card-footer">
                    <div th:replace="fragments::card-chip-container"></div>
                    <div th:replace="fragments::card-read-more"></div>
                </footer>
            </div>
        </div>
    </section>

    <section class="rest">
        <section class="ordinary-cards">
            <div class="category" th:each="categoryPosts:${categoriesPosts}">
                <h2 class="subject" th:text="#{${categoryPosts.key.name().toLowerCase()}}">
                    Subject
                </h2>
                <div class="card" th:each="post:${categoryPosts.value}"
                     th:attr="data-post-id=${post.id}">
                    <div th:replace="fragments::card-top-section"></div>
                    <div class="card-bottom">
                        <div class="hr"></div>
                        <footer class="card-footer">
                            <div th:replace="fragments::card-datetime"></div>
                            <div th:replace="fragments::card-read-more"></div>
                        </footer>
                    </div>
                </div>
            </div>
        </section>

        <aside class="pinned-cards">
            <div class="card sum" th:each="post:${pinnedPosts}">
                <div th:replace="fragments::card-file"></div>
                <a th:href="${'/posts/' + post.url}">
                    <h1 th:text="${post.title}">Title</h1>
                </a>
            </div>
        </aside>
    </section>
</main>

<footer th:replace="fragments::footer"></footer>

</body>
</html>
