<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::head(title=${@environment.getProperty('title')}, desc=${@environment.getProperty('desc')})"></head>

<body>

<nav th:replace="fragments::navigation"></nav>
<div th:replace="fragments::login-dialog"></div>

<main>
    <section class="top-cards">
        <div class="card" th:each="post:${topPosts}" th:attr="data-post-id=${post.id}">
            <div th:replace="fragments::card-top-section"></div>
            <div class="card-bottom">
                <div class="hr"></div>
                <footer class="card-footer">
                    <div th:replace="fragments::card-chip-container"></div>
                    <div th:replace="fragments::card-read-more"></div>
                </footer>
            </div>
        </div>
    </section>
    <div class="rest">
        <section class="ordinary-cards">
            <div class="category" th:each="categoryPosts:${categoriesPosts}">
                <h2 class="subject" th:text="${categoryPosts.key.name().toLowerCase()}">Subject</h2>
                <div class="card" th:each="post:${categoryPosts.value}"
                     th:attr="data-post-id=${post.id}">
                    <div th:replace="fragments::card-top-section"></div>
                    <div class="card-bottom">
                        <div class="hr"></div>
                        <footer class="card-footer">
                            <div th:replace="fragments::card-datetime"></div>
                            <div th:replace="fragments::card-read-more"></div>
                        </footer>
                    </div>
                </div>
            </div>
        </section>

        <section class="pined-cards">
            <div class="card sum" th:each="post:${pinedPosts}">
                <div th:replace="fragments::card-file"></div>
                <a th:href="${'/posts/' + post.url}">
                    <h1 th:text="${post.title}">Title</h1>
                </a>
            </div>
        </section>
    </div>
</main>

<footer th:replace="fragments::footer"></footer>

</body>
</html>
